.form-iframe, .form-container {
    width: 100%;
    border: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
.container-fluid {
    height: 70vh;
    padding: 0;
}
.jumbotron {
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 0;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jumbotron .left-section {
    display: flex;
    align-items: center;
}
.jumbotron .glyphicon-file {
    font-size: 80px;
    margin-right: 30px;
}
.footer {
    background-color: #eee;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-help {
    padding: 5px;
}
.btn-help .glyphicon-question-sign {
    font-size: 32px;
}
.table td {
    white-space: normal !important;
}
.table td[rowspan] {
    vertical-align: middle !important;
}
@media (min-width: 768px) {
    .footer img {
        max-width: 400px;
    }
}
@media (max-width: 767px) {
    .footer img {
        max-width: 300px;
    }
    .jumbotron h1 {
        font-size: 30px;
        margin-bottom: 3px;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .jumbotron .glyphicon-file {
        font-size: 60px;
    }
}
